# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/

# Configuración local o sensible
*.env

# Archivos o carpetas temporales
*.log
*.tmp
*.bak

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
